:root {
    --gull-gul: #e6bd43;
    --graasvart: #252525;
    --svart: #000;
    --hvit: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, sans-serif;
}
/* ------------------------------------------------------------ */ 
/* ----------------------   B I L D E R  ---------------------- */ 
/* ------------------------------------------------------------ */ 

.header-image {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.header-image::before {
    content: "";
    background-image: url(IMG/river-5855081_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    opacity: 0.5;
    position: absolute;
}

.header-image-texts {
    position: relative;
    color: var(--svart);
    text-align: center;
}

/* ------------------------------------------------------------ */ 
/* ----------------------   H E A D E R  ---------------------- */ 
/* ------------------------------------------------------------ */ 
header {
    border: orange 2px solid;
}
/* ------------------------------------------------------------ */ 
/* -----------------------   I N D E X  ----------------------- */ 
/* ------------------------------------------------------------ */ 

/* ------------------------------------------------------------ */ 
/* -----------------------   A B O U T  ----------------------- */ 
/* ------------------------------------------------------------ */ 

/* ------------------------------------------------------------ */ 
/* --------------------   P R O D U C T S  -------------------- */ 
/* ------------------------------------------------------------ */ 

/* ------------------------------------------------------------ */ 
/* ----------------------   F O O T E R  ---------------------- */ 
/* ------------------------------------------------------------ */ 

footer {
    background-color: var(--graasvart);
}

.fa-square-facebook, 
.fa-square-instagram,
.fa-linkedin {
    color: var(--hvit);
}


section {
    border: blue 2px solid;
}

article {
    border: purple 2px solid;
}


/* ------------------------------------------------------------ */ 
/* MEDIA QUERY - Hvordan det skal se ut i desktop */
/* ------------------------------------------------------------ */ 

@media screen and (min-width: 600px) {
  
}