/* ------------------------------------------------------------ */ 
/* ------------   A L L E/ F L E R E   S I D E R  ------------- */ 
/* ------------------------------------------------------------ */ 

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,100&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --gull-gul: #e6bd43;
    --graasvart: #252525;
    --svart: #000;
    --hvit: #fff;

    --lightgrey: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

#background__yellow {
    background-color: var(--gull-gul);
}

.product-card {
    max-width: 350px; /* min width 200px*/
}

/* ------------------------------------------------------------ */ 
/* ----------------------   H E A D E R  ---------------------- */ 
/* ------------------------------------------------------------ */ 

header {
    background-color: var(--hvit);
    padding: 1rem 0rem 0.7rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 0.5rem;
}

ul {
    list-style: none;
    text-align: center;
}

li, a {
    text-decoration: none;
    color: var(--svart);
    line-height: 1.1rem;
    padding: 0.5rem;
}

#btn__contact {
    display: block;
    width: fit-content;
    height: auto;

    background-color: #e6bd43;
    font-weight: 700;
    color: var(--svart);
}

/* ------------------------------------------------------------ */ 
/* ------------------   I N D E X. H T M L  ------------------- */ 
/* ------------------------------------------------------------ */ 

/* section 1 - compelling headline + section 1 Portfolio*/ 
.top__section::before {
    content: "";
    background-image: url(IMG/river-5855081_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* Bakgrunnsbildet er ikke statisk  - kode kommer */
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    opacity: 0.5;
    position: absolute;
}

.top__section {
    width: 100%;
    height: 400px;
    padding: 1rem;

    position: relative;
}

.top__container {
    position: relative;

    color: var(--svart);
    text-align: center;
    font-size: 0.9rem;
}

.title__main {
   margin: 1rem;
   padding: 1.2rem;
   line-height: 2rem;
   font-size: 1.8rem;
}

/* section 1 - compelling headline */

.btn__yellow {
    display: block;
    width: 80%;
    height: auto;

    margin: 1rem;
    padding: 0.8rem;

    background-color: #e6bd43;
    font-weight: 700;
    color: var(--svart);
    text-align: left;
    line-height: 1.2rem;
}

/* section 2 - enganging subheading */

.index__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.index__article {
    margin: 1rem;
    padding: 1rem;

    text-align: center;
}

.title__sub {
    margin: 0.2rem;
    padding: 1rem;
    line-height: 1.7rem;

    font-size: 1.3rem;
}

/* section 3 - about our company */

#text__left {
    text-align: left;
    line-height: 1.7rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    border: red 2px solid;
}

.article__textleft {
    text-align: left;
    line-height: 1.3rem;
    width: 75%;
    padding: 1.5rem;

    border: red 2px solid;
}

#btn__border {
    display: block;
    width: 70%;
    height: auto;
    margin-left: 0.9rem;
    padding: 0.8rem;

    font-weight: 700;
    line-height: 1.2rem;
    color: var(--svart);
    border: var(--svart) 2px solid;
}

/* section 4 - our services */

.fa-users, 
 .fa-cloud-arrow-up,
 .fa-code,
 .fa-wifi {
    font-size: 1.8rem;
 }

/* section 5 - newsletter */

.signup {
    background-color: var(--lightgrey);
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.8rem;
}

.signup__form {
    margin-top: -1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#email {
    border: none;
    padding: 0.5rem;
    width: 200px;
    height: 50px;
}

#btn__signup {
    background-color: var(--gull-gul);
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    width: 120px;
    height: 50px;
}


/* ------------------------------------------------------------ */ 
/* -------------------   A B O U T.H T M L  ------------------- */ 
/* ------------------------------------------------------------ */ 

/* ------------------------------------------------------------ */ 
/* ----------------   P R O D U C T S.H T M L  ---------------- */ 
/* ------------------------------------------------------------ */ 

.top__portfolio {
    display: flex;
    justify-content: center;
}

.portfolio__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- explore previous jobs ----- */

.portfolio__section {
    padding: 1rem 3rem 2rem 3rem;
    margin: 0;
    width: 100%;
    height: auto;
}

.portfolio__title {
    display: flex;
    flex-direction: column;
}

.portfolio__title::after {
    content: "";
    background-color: var(--gull-gul);
    width: 280px;
    height: 3px;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 1rem;
}

.portfolio__jobs {
    margin-top: 2rem;
    margin-left: 1rem;

    display: flex;
    flex-wrap: wrap;
}

.portfolio__link {
    border: var(--svart) 2px solid;
    margin: 0.4rem;
}

/* ----- artikkelkort ------ */

.portfoliocard__section {
    margin: 0;
    padding: 1rem 3rem 2rem 3rem;
    width: 100%;
    height: auto;
}



.cards {
    width: 300px;
    height: 300px;
    background-color: transparent;
    object-fit: cover;
    object-position: center;
}

/* ------------------------------------------------------------ */ 
/* ----------------------   F O O T E R  ---------------------- */ 
/* ------------------------------------------------------------ */ 

footer {
    background-color: var(--graasvart);
    padding: 1rem;
}

.footer__copyright {
    color: var(--hvit);
    font-size: 0.8rem;
}

.footer__some {
    display: flex;
    flex-direction: row;
}

.fa-square-facebook, 
.fa-square-instagram,
.fa-linkedin {
    color: var(--hvit);
    font-size: 1.5rem;
}


/* ------------------------------------------------------------ */ 
/* MEDIA QUERY - Hvordan det skal se ut i desktop */
/* ------------------------------------------------------------ */ 

@media screen and (min-width: 600px) {
    .top__section {
        width: 100%;
        max-height: 200px;
    
        position: relative;
    }
  
}